{% extends 'index.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col-6 mx-auto my-5">
		<div class="card">
			<img class="card-img-top" src="Images/wallpaper.jpg">
			<div class="card-body">
				<h5 class="card-title ">Rejestracja</h5>
				<form action="/register" method="POST">
					<div class="d-flex flex-column">
						<div class="form-gruop row my-2 mx-3">
							<label>Login</label>
							<input class="col-12 form-control" type="text" name="login" placeholder="Login">
						</div>
						<div class="form-group row my-2 mx-3">
							<label>Email</label>
							<input class="col-12 form-control" type="text" name="email" placeholder="Email">
						</div>
						<div class="form-group row my-2 mx-3">
							<label>Hasło</label>
							<input class="col-12 mb-2 form-control" type="password" name="new_password_1" placeholder="Hasło">
							<input class="col-12 mb-3 form-control" type="password" name="new_password_2" placeholder="Powtórz hasło">
						</div>
						<div class="form-group row my-2 mx-3">
							<div class="g-recaptcha" data-sitekey="{{klucz}}"></div>	
						</div>
						<button type="submit" name="create" class="btn btn-outline-primary mt-4 mx-3">Załóż konto</button>
						<p class="row my-2 mx-3">{{test}}</p>
						<p class="row my-2 mx-3">{{test2}}</p>
					</div>
				</form>
			</div>
		</div>
		</div>
	</div>
</div>
{% endblock %}